.formContainer {
  border: none;
  padding: 40px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: rgb(50, 170, 35);
  background: linear-gradient(90deg, rgb(33, 190, 51) 0%, rgb(4, 61, 13) 100%);
  color: aliceblue;
}

h2 {
  text-align: center;
}

.signIn {
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.signInButton {
  padding-top: 20px;
  position: relative;
  left: 40%;
}

.signInTitle {
  font: 18px roboto;
  position: relative;
  top: -60px;
  left: 20%;
}

.signInText {
  color: rgb(0, 0, 0);
  font: 18px roboto;
  margin-right: 5px;
}

.signInLink {
  font-weight: 700;
  color: rgb(55, 176, 67);
  cursor: pointer;
  font: 18px roboto;
}

.errorMessage {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .formContainer {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .formContainer {
    width: 100%;
  }
  .signUpButton {
    left: 10%;
  }
}
