.addQuestionBorder{
  position :absolute;
  top:5%;
  height:90%;
  left: 5%;
  width: 90%;
  background-color: #d6d6d9 !important;
  border-radius: 20px;
}

.questionTitle{
position: relative;
width:50%;
left: 25%;
text-align: center;
}

.question{
  position: relative;
  width:90%;
  left: 5%;
  height: 15%;
}


.questionInput{
  position: relative;
  width: 100%;
  height: 100%;

}

.answers{
  position: relative;
  top: 5%;
  left: 5%;
  width: 80%;
}

.questionSaveButton{
  position: relative;
  margin-top: 5%;
  width: 10%;
  left: 50%;
  border-radius: 10px;
  bottom:0%;
}


.previousButton{
  position: relative;
  margin-top: 5%;
  width: 15%;
  left: 0%;
  border-radius: 10px;
}

.nextButton{
  position: absolute;
  margin-top: 5%;
  width: 15%;
  right:  0%;
  border-radius: 10px;
}
