.projectList{
  position: absolute;
  left:5%;
  width: 20%;
  height: 100%;
  box-shadow: inset 0 3px 6px rgba(100, 79, 79, 0.16), 0 4px 6px rgba(34, 132, 67, 0.45);
  background-color: #053D16 ;
  font-family: "Robot sans-serif" !important;
}

.projectListTop{
  position: relative;
  width: 100%;
  height: 10%;
  color: rgb(215, 215, 215);;
}

.projectSearch{
  position: relative;
  left:2.5%;
  width: 95%;
  height: 5%;
  background-color: #2b6d2b;
  color:rgb(215, 212, 212);
  margin-bottom: 5%;
  border-radius: 10px;
}

.projectSearch::placeholder{
color:rgb(228, 225, 225);
padding-left: 5%;
}


.card{
  position: relative;
  left:2.5%;
  width: 95%;
  background-color: #053D16;
  border-color:  rgb(119, 121, 119) !important;
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-right: 2.5%;
  cursor: pointer;
  border-radius: 0% !important;
  border-radius: 10px !important;
  margin-bottom: 2%;
  color:white;
}

.cardSelect{
  background-color: #087228 !important;
  border-color:   #087228 !important;
  /* opacity: 0.7; */
}

.title{
  position:absolute;
  bottom: 0%;
  left: 2.5%;
  font-size: 25px;
}

.addIcon{
  color:rgb(140, 134, 134);
  cursor:pointer;
  position: absolute;
  top:5%;
  right:5%;
}

.listScroll{
 position: relative;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  overflow: auto;
}

.listScroll::-webkit-scrollbar {
  width: 1em;
}

.listScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

.listScroll::-webkit-scrollbar-thumb {
  background-color: rgb(3, 30, 10);
  outline: 1px solid slategrey;
}
.listScroll::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}
.listScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media(max-width:500px){

  .title{
    font-size: 10px;
  }
  .card{
    font-size: 8px;
  }

.projectListTop{
  height: 10%;
}

}

