.formContainer{
    border: none;
    padding: 40px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: rgb(50, 170, 35);
    background: linear-gradient(90deg, rgb(33, 190, 51) 0%, rgb(4, 61, 13) 100%);
    color: aliceblue;

}

.invalid{
    border: 3px solid rgb(190, 16, 16, 0.9) !important;
}

.textAlignCenter{
    text-align: center;
}


h2{
    text-align: center;
}

.signUp{
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.signUpButton{
    padding-top: 20px;
    position: relative;
    left: 40%;
}

@media (max-width: 700px) {
    .formContainer {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .formContainer {
        width: 100%;
    }
    .signUpButton{
        left: 10%;
    }
}